*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 16px;
}

.navBar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1rem;

}

.logoImage{
    width:75px;
    height:60px;
}

.navList1{
    list-style-type:none;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.navList1 li{
    padding: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.navList2{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList2 li{
    padding: 10px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.profilePhoto{
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container{
    display: flex;
    height: 90vh;
}

.accountDetails{
    display: flex;
    width: 70vw;
    margin: 20px 0px 20px 20px;
    background-color: rgb(230, 241, 240);
    border-radius: 10px;
    flex-direction: column;
}

.accountDetails1{
    display: flex;
    height: 70%;
    flex-direction: column;
}

.accountDetails12{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 30px;
}

.accountDetailsProgress{
    list-style-type:none;
    display: flex;
    justify-content: space-between;   
    margin: 20px;
}

.accountDetails2{
    display: flex;
    border: 1px solid black;
    height: 30%;
}

.accountDetails22{
    display: flex;
    height: 50%;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    padding: 10px;
}

.email{
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
    flex-direction: column;
}

.inputField{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
}

label{
    padding: 10px 0px 10px 0px;
}

.buttonsDiv1{
    display: flex;
    justify-content: right;
    margin: 20px 0px 20px 0px;
}

.button1{
    border-radius: 5px;
    border: none;
    background: none;
    color: black;
    margin: 0px 10px 0px 10px;
    padding: 10px;
}

.button2{
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: royalblue;
    color: white;
    margin: 0px 10px 0px 10px;
}

.orderSummary{
    display: flex;
    width: 30vw;
    margin: 20px;
    background-color: rgb(230, 241, 240);
    border-radius: 10px;
    flex-direction: column;
}

.orderSummary1{
    display: flex;
    height: 50%;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.headPhonesImg{
    width:150px;
    height:100px;
}

.orderSummary11{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.orderSummary111{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.orderSummary2{
    display: flex;
    height: 50%;
    flex-direction: column;
    gap: 10px;
}

.orderSummary22{
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    padding: 10px;
    height: 10px;
    align-items: center;
}

.giftCardInput{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
}

.giftCardBtn{
    width: 30%;
    border-radius: 5px;
    border: 1px solid royalblue;
    background-color: rgb(255, 255, 255);
    color:royalblue;
    padding: 10px;
    margin: 0px 0px 0px 10px;
}

.quantityBtn{
    border-radius: 5px;
    padding: 10px;
    height: 35px;
}

.quantityLabel{
    padding: 10px;
    width: 30%;
}