body{
    background-color: hsl(0, 0%, 98%);
}

*{
    font-family: Epilogue;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: hsl(0, 0%, 98%);
}

.navLogo{
    display: flex;
    width:15vw;
    justify-content: center;
    align-items: center;
}

.navLists{
    display: flex;
    width:85vw;
    justify-content: space-between;
    align-items: center;    
}

.navList{
    display: flex;
    list-style-type: none;
    padding: 20px;
    gap: 30px;
    align-items: baseline;    
}

.navList li{
    color: hsl(0, 0%, 41%);
}

.registerBtn{
    border-radius: 10px;
    height: 30px;
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: hsl(0, 0%, 98%);
}

.main{
    background-color: hsl(0, 0%, 98%);
    width: 50vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

span{
    font-weight: 700;
    font-size: 3rem;
    color: hsl(0, 0%, 8%);
}

.info{
    color: hsl(0, 0%, 41%);
}

.learnMoreBtn{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    padding:10px 30px 10px 30px;
}
.cIcons{
    display: flex;
    gap: 20px;
    width: 50vw;
    margin-top: 70px;
}

.clientIcon{
    width: 20%;
    height: 20%;
}

.hero{
    background-color: hsl(0, 0%, 98%);
    width: 50vw;
    display: flex;
    justify-content: center;
    padding: 0px 40px 0px 0px;
}

.heroImg{
    width: 100%;
    height: 85vh;
}